<!-- <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">Home</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
        aria-selected="false">Profile</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
        aria-selected="false">Messages</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
        aria-selected="false">Settings</a>
</div> -->
<div class="row">
    <nav class="col-12 col-sm-12 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <!-- <a class="nav-link active" routerLink="monograph">Enviar Monografia -->
                <a class="nav-link" routerLink="monograph">Enviar Monografia
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="search">Buscar Monografias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>

        <!-- <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Nav item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Another nav item</a>
            </li>
        </ul>

        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Another nav item</a>
            </li>
        </ul> -->
    </nav>
</div>