<div class="row">
    <nav class="col-12 col-sm-12 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="monograph">Enviar Monografia
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="search">Buscar Monografias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" href="#">Minhas Monografias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" href="#">Editar Perfil</a>
            </li>
        </ul>
    </nav>
</div>