/*
 * Style tweaks
 * --------------------------------------------------
 */
 html,
 body {
   overflow-x: hidden; /* Prevent scroll on narrow devices */
 }
 body {
   padding-top: 70px;
 }
 footer {
   padding: 30px 0;
 }

header {
  background-color: #0277bd;
}

a {
  color: #000;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-expand .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-expand .navbar-nav .nav-link {
  color: rgba(255,255,255,.7);
}

.navbar-expand .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.9);
}
 /*
  * Off Canvas
  * --------------------------------------------------
  */
 @media screen and (max-width: 767.99px) {
   .row-offcanvas {
     position: relative;
     transition: all .25s ease-out;
   }

   .row-offcanvas-right {
     right: 0;
   }

   .row-offcanvas-left {
     left: 0;
   }

   .row-offcanvas-right .sidebar-offcanvas {
     right: -100%; /* 12 columns */
   }

   .row-offcanvas-right.active .sidebar-offcanvas {
     right: -50%; /* 6 columns */
   }

   .row-offcanvas-left .sidebar-offcanvas {
     left: -100%; /* 12 columns */
   }

   .row-offcanvas-left.active .sidebar-offcanvas {
     left: -50%; /* 6 columns */
   }

   .row-offcanvas-right.active {
     right: 50%; /* 6 columns */
   }

   .row-offcanvas-left.active {
     left: 50%; /* 6 columns */
   }

   .sidebar-offcanvas {
     position: absolute;
     top: 0;
     width: 50%; /* 6 columns */
   }
 }
