<header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
  <a class="navbar-brand" routerLink="/home">
    <img src="../../assets/images/Logo.png" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">onoteca
  </a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" href="#">Sobre</a>
      </li>
      <div *ngIf="!verify()">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/register" routerLinkActive="active">Inscreva-se</a>
        </li>
      </div>
      <div *ngIf="!verify()">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/login" routerLinkActive="active">Entrar</a>
        </li>
      </div>
      <div *ngIf="verify()">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/user" routerLinkActive="active">Minha Página</a>
        </li>
      </div>
      <div *ngIf="verify()">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </div>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>
