
<div class="jumbotron">
  <div class="container">
    <form class="form-signin" novalidate [formGroup]="loginForm" (ngSubmit)="login()">
      <h2 class="form-signin-heading">Entrar na Monoteca</h2>
      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" class="form-control" placeholder="Email" required autofocus="" formControlName="email">
      <label for="password" class="sr-only">Senha</label>
      <input type="password" id="password" class="form-control" placeholder="Senha" required formControlName="password">

      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">Entrar</button>
      <p class="registrar">Novo na Monoteca? <a href="/register">Crie uma conta.</a></p>
    </form>
  </div>
</div>
