<!-- <div class="container"> -->
    <div class="jumbotron">
    <!-- <div class="row"> -->
        <!-- <div class="col-sm-8 offset-sm-2"> -->
        <div class="col-sm-4 offset-sm-4">
            <h2>Login</h2>
            <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
                <!-- <div class="row"> -->
                    <!-- <div class="col-sm-6 offset-sm-3"> -->
                        <div class="form-group">
                            <label for="email">Usuário</label>
                            <input type="email" class="form-control" id="email" name="email" formControlName="email">
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <div class="col-6 offset-3"> -->
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" formControlName="password">
                        </div>
                    <!-- </div> -->
                <!-- </div> -->


                <div class="">
                    <span>{{errorMsg}}</span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
                </div>
            </form>
        </div>
    <!-- </div> -->
</div>